@using UserManagment.Models
@inject UserManager<ApplicationUser> _userManager
@model IEnumerable<Appointment>
@{
	ViewData["Title"] = "Dashboard";

}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Medilab Free Bootstrap HTML5 Template</title>
	<meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
	<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<link rel="stylesheet" type="text/css" href="~/files/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/files/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<link rel="stylesheet" href="~/FrontFiles/fonts/style.css">
	</head>
	<body>
		<h1>Dashboard</h1>
		<hr />
	<div class="main-container">
		<!-- Content wrapper start -->
		<div class="content-wrapper">

			<!-- Row start -->
			<div class="row gutters">
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 mr-5">
					<div class="hospital-tiles">
						<a asp-controller="Doctor" asp-action="Appointments" >
							<img src="~/FrontFiles/img/hospital/appointment.svg" alt="Appointments" />
						</a>
						<p>Total Appointments</p>
						<h2>@Model.Where(x=>x.DoctorId == _userManager.GetUserId(User)).Count()</h2>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 mr-5">
					<div class="hospital-tiles">
						<a asp-controller="Doctor" asp-action="AcceptedAppointments">
						<img src="~/FrontFiles/img/hospital/appointment.svg" alt="Appointments" />
						</a>
						<p>Accepted Appointments</p>
						<h2>@Model.Where(x=>x.isAccepted == true && x.DoctorId == _userManager.GetUserId(User) ).Count()</h2>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 mr-5">
					<div class="hospital-tiles">
						<a asp-controller="Doctor" asp-action="RejectedAppointments">
						<img src="~/FrontFiles/img/hospital/appointment.svg" alt="Appointments" />
						</a>
						<p> Rejected Appointments</p>
						<h2>@Model.Where(x=>x.isAccepted == false && x.DoctorId == _userManager.GetUserId(User)).Count()</h2>
					</div>
				</div>


			</div>
			<!-- Row end -->


		</div>
	</div>
	</body>
	</html>
