@model RoleFormViewModel

<form method="post" asp-action="Add">
    <div class="input-group mb-3" >
        <input type="text" placeholder="Role Name..." class="form-control" asp-for="Name" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary mt-2">Add New Role</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
    
</form>

